.reservation-workview-controls {
    display: flex;
    flex-direction: column;
}

.reservation-workview-controls select,
.reservation-workview-controls input,
.reservation-workview-controls button {
    margin: 8px;
    border: 2px solid black;
    padding: 8px;
}

.reservation-workview-controls button {
    background-color: #2980b9;
    color: white;
    border: 2px solid black;
    padding: 8px 12px;
    font-weight: bold;
}